@model IEnumerable<Kurs>

<h2 class="text-center">Kurs Listesi</h2>

<a href="/Kurs/Create" class="btn btn-primary">Kurs Ekle</a>

<table class="table table-bordered my-3">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.KursId)</th>
            <th>@Html.DisplayNameFor(m => m.Baslik)</th>
            <th>@Html.DisplayNameFor(m => m.Ogretmen.AdSoyad)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ogr in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => ogr.KursId)</td>
                <td>@Html.DisplayFor(m => ogr.Baslik)</td>
                <td>@Html.DisplayFor(m => ogr.Ogretmen.AdSoyad)</td>
                <td>
                    <a asp-controller="Kurs" asp-action="Edit" asp-route-id="@ogr.KursId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-controller="Kurs" asp-action="Delete" asp-route-id="@ogr.KursId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>